BasedOnStyle: Google
ColumnLimit: 120

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 8
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4

BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: AlwaysBreak

AlwaysBreakAfterReturnType: TopLevel
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Attach

BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon

AllowShortIfStatementsOnASingleLine: Never
AllowShortEnumsOnASingleLine: false

PointerAlignment: Right
DerivePointerAlignment: false
BreakBeforeBinaryOperators: NonAssignment
AlignOperands: AlignAfterOperator
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false

ReflowComments: true
IncludeBlocks: Preserve
EmptyLineBeforeAccessModifier: LogicalBlock
